*{
	box-sizing: border-box;
}

body{
	margin: 0px;
	padding: 0px;
	background: url("2.jpg") no-repeat;
	background-size: cover;
	background-position: center;
}

.box{
	width: 40%;
	height: 40%;
	padding: 2%;
	background-color: rgba(0, 0 , 0 , 0.6);
	text-align: center;
	margin: auto;
	margin-top: 5%;
	color: white;
}

.box img{
	border-radius: 50%;
	width: 40%;
	height: 40%;
}

.box h1{
	letter-spacing: 3px;
}

.box h5{
	font-size: 120%;
	letter-spacing: 1px;
}

.box p{
	text-align: center;
}

.box ul{
	margin: 0px;
	padding: 0px;
}

.box li{
	display: inline-block;
	list-style: none;
	padding: 2%;
}

.box li a{
	font-size: 300%;
	color: white;
}

